.widget {
  margin:0
}
.widget a{
  text-decoration:none;
  outline:0
}
.widget {
  display:inline-block;
  overflow:hidden;
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size:0;
  line-height:0;
  white-space:nowrap
}
.widget .btn,.widget .social-count{
  position:relative;
  display:inline-block;
  height:20px;
  padding:2px 5px;
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size:11px;
  font-weight:600;
  line-height:14px;
  vertical-align:bottom;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-repeat:repeat-x;
  background-position:-1px -1px;
  background-size:110% 110%;
  border:1px solid
}
.widget .btn{
  border-radius:.25em
}
.widget .btn:not(:last-child){
  border-radius:.25em 0 0 .25em
}
.widget .social-count{
  border-left:0;
  border-radius:0 .25em .25em 0
}
.widget .widget-lg .btn,.widget .widget-lg .social-count{
  height:20px;
  padding:3px 10px;
  font-size:12px;
  line-height:20px
}
.widget .octicon{
  display:inline-block;
  vertical-align:text-top;
  fill:currentColor
}
.widget .btn{
  color:#24292e;
  background-color:#eff3f6;
  border-color:#c5c9cc;
  border-color:rgba(27,31,35,.2);
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23fafbfc'/%3e%3cstop offset='90%25' stop-color='%23eff3f6'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
  background-image:-moz-linear-gradient(top, #fafbfc, #eff3f6 90%);
  background-image:linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFAFBFC', endColorstr='#FFEEF2F5')
}
:root .btn{
  filter:none
}
.widget .btn:focus,.widget .btn:hover{
  background-color:#e6ebf1;
  background-position:-0.5em;
  border-color:#9fa4a9;
  border-color:rgba(27,31,35,.35);
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f0f3f6'/%3e%3cstop offset='90%25' stop-color='%23e6ebf1'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
  background-image:-moz-linear-gradient(top, #f0f3f6, #e6ebf1 90%);
  background-image:linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF0F3F6', endColorstr='#FFE5EAF0')
}
:root .btn:focus,:root .btn:hover{
  filter:none
}
.widget .btn:active{
  background-color:#e9ecef;
  border-color:#a1a4a8;
  border-color:rgba(27,31,35,.35);
  box-shadow:inset 0 .15em .3em rgba(27,31,35,.15);
  background-image:none;
  filter:none
}
.widget .social-count{
  color:#24292e;
  background-color:#fff;
  border-color:#d1d2d3;
  border-color:rgba(27,31,35,.2)
}
.widget .social-count:focus,.widget .social-count:hover{
  color:#0366d6
}
.widget .octicon-heart{
  color:#ea4aaa
}
