<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-three-fourths footer-content">
        <h3>Join the community</h3>
        <div class="usa-grid-full footer-contact-links">

          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{_rel}}images/NetOfficeOriginalLogo_96x96.png" width="40" height="40" alt="">
              <div class="usa-media_block-body">
                <h4>NetOffice on GitHub</h4>
                <a class="xgithub-button" href="https://github.com/NetOfficeFw" aria-label="Follow @NetOfficeFw on GitHub">Follow @NetOfficeFw</a>
              </div>
            </div>
          </div>

          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{_rel}}images/icon-question.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Running into an issue?</h4>
                <a class="xgithub-button" href="https://github.com/NetOfficeFw/NetOffice/issues"
                  data-icon="octicon-issue-opened" aria-label="Open issue for NetOffice on GitHub">Ask questions on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-section-bottom">
    <div class="usa-grid">
      <p>
        {{{_appFooter}}}
        <a class="usa-link-github" href="https://github.com/NetOfficeFw">
          <span>https://github.com/NetOfficeFw</span>
        </a>
      </p>
    </div>
  </div>
</footer>
