<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-three-fourths footer-content">
        <h3>Join the community</h3>
        <div class="usa-grid-full footer-contact-links">
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{_rel}}images/icon-question.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Running into an issue?</h4>
                <a href="https://github.com/NetOfficeFw/NetOffice/issues">
                  Ask questions on GitHub
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-section-bottom">
    <div class="usa-grid">
      <p>
        {{{_appFooter}}}
        <a class="usa-link-github" href="https://github.com/NetOfficeFw">
          <span>https://github.com/NetOfficeFw</span>
        </a>
      </p>
    </div>
  </div>
</footer>
