body {
  font-size: 1.4rem;
}

.usa-header img.logo {
  vertical-align: text-top;
  width: 32px;
  height: 32px;
}

.usa-footer-secondary_section {
  background-color: #e1f3f8;
}

.landing-page .usa-hero {
  background-image: url(../images/landing_page_hero_3960x720.jpg);
  padding-bottom: 7.2rem;
  padding-top: 3.5rem;
  background-position: center;
  background-size: cover;
}

.usa-hero-callout {
  border-radius: 0.3rem;
}

@media screen and (min-width: 481px) {
  .usa-hero-callout {
    max-width: 60rem;
  }
}